stages:
  - mirror

mirror-to-github:
  stage: mirror
  image: alpine:latest
  before_script:
    - apk add --no-cache git
  script:
    - git remote add github https://$GITHUB_TOKEN@github.com/Buildeployship/$CI_PROJECT_NAME.git
    - git push github HEAD:main --force
  only:
    - main
